@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz.ttf") format("truetype");
}

/*HOME PAGE*/
h1,
h2 {
  font-family: "Inter", sans-serif, Tahoma, Geneva, Verdana;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: "Inter", sans-serif, Tahoma, Geneva, Verdana;
  font-size: 1rem;
  text-align: left;
  padding-left: 4.1rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
}
/* want to make the li tekt centered*/
.navbar ul {
  list-style-type: none;
  background-color: #f0ece3;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
}

.navbar a {
  font-family: "Inter", sans-serif, Tahoma, Geneva, Verdana;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  color: black;
  display: block;
  padding: 20px;
}

.navbar a:hover {
  font-weight: 600;
}

.navbar li {
  display: inline-block;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}

.complicated {
  background-image: url("/images/moutains.jpg");
  min-height: 500px;
  max-width: 100%;
  background-size: cover;
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  position: relative;
}

.whitebox {
  position: absolute;
  max-width: 90%;
  height: 500px;
  left: 10%;
  width: 400px;
  z-index: 10;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
}

.whitebox img {
  width: 260px;
  height: auto;
  margin-bottom: -20px;
  display: block;
  padding-top: 30px;
}

.centered {
  margin: auto;
}

.home-product-info p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 200;
  text-align: left;
  padding-left: 4.1rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
  line-height: normal;
  width: 262px;
}
.add-to-cart {
  text-align: center;
}

.box,
h2 {
  list-style-type: none;
  background-color: #191a14;
  padding: 25px;
  margin: 0px;
  overflow: hidden;
  color: #fff;
}

h1 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 5rem;
  text-align: right;
  color: #fff;
}

/*newsletter */

.newsletter {
  list-style-type: none;
  background-color: #191a14;
  font-family: "Inter", sans-serif, Tahoma, Geneva, Verdana;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0px;
  overflow: hidden;
  color: #fff;
}

.confirm-button {
}
