@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-VariableFont_opsz.ttf") format("truetype");
}

.eastersale {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 2.5rem;
  font-style: normal;
}
